# 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number

In [5]:
def arithmetic_operation(st):
    elements_in_list = st.split()
    if elements_in_list[1]=="+":
        print(int(elements_in_list[0])+int(elements_in_list[2]))
    elif elements_in_list[1]=="-":
        print(int(elements_in_list[0])-int(elements_in_list[2]))
    elif elements_in_list[1]=="*":
        print(int(elements_in_list[0])*int(elements_in_list[2]))
    elif elements_in_list[1]=="//":
        if int(elements_in_list[2])==0:
            print(-1)
        else:
            print(int(elements_in_list[0])/int(elements_in_list[2]))

In [6]:
arithmetic_operation("12 + 12") #➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") #➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") #➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") #➞ -1 // 12 / 0 = -1

24
0
144
-1

# 2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [88]:
from math import sqrt
def perimeter(l):
    a,b,c=l
    ab = sqrt((b[0]-a[0])**2+(b[1]-a[1])**2)
    bc = sqrt((b[0]-c[0])**2+(b[1]-c[1])**2)
    ac = sqrt((c[0]-a[0])**2+(c[1]-a[1])**2)
    print(round(ab+bc+ac,2))

In [93]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )# ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) #➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) #➞ 68.28

47.08
3.41
68.28

# 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

In [127]:
l=
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

In [186]:
def tallest_skyscraper(l):
    transpose = []
    for i in range(len(l)):
        row=[]
        for j in range(len(l[i])):
            try:
                row.append(l[j][i])
            except:
                continue
        transpose.append(row)
    height=0
    for i in transpose:
        count=i.count(1)
        if count>height:
            height=count
    print(height)

In [189]:
tallest_skyscraper(l)
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])# ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])# ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) #➞ 2

4
3
4
2

# 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

In [210]:
def bonus(n):
    if n>48 :
        print(325*8+8*550+(n-48)*600)
    elif n<48 & n>=41:
        print((n-41)*550+(8*325))
    elif n>32:
        print((n-32)*325)
    elif n<=32:
        print(0)

In [213]:
bonus(15) #➞ 0

bonus(37) #➞ 1625

bonus(50) #➞ 8200

0
1625
8200

# 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

In [223]:
def is_disarium(n):
    str_n=str(n)
    s=0
    for i in range(len(str_n)):
        s+=int(str_n[i])**(i+1)
    if n==s:
        print(True)
    else:
        print(False)

In [224]:
is_disarium(75)# ➞ False
# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135)# ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544)# ➞ False

is_disarium(518)# ➞ True

is_disarium(466)# ➞ False

is_disarium(8)# ➞ True

False
True
False
True
False
True